<!doctype html>
<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> chroma key </title>
	<link rel="stylesheet" href="css/chroma-key.css">
</head>
	
<body>
	<form>
		red:<br>
		<input id="red" type="number" name="red" required/><br>
		green:<br>
		<input id="green" type="number" name="green" required/><br>
		blue:<br>
		<input id="blue" type="number" name="blue" required/><br>
		range:<br>
		0 <input id="range" type="range" min="0" max="100" value="45"> 100<br>
		<input type="submit" value="Submit">
	</form>
	
	<script src="js/chroma-key.js"></script>
	<script src="js/jquery.js"></script>
	<div id="image"></div>
	<script>
		$('form').submit(function(event) {
			event.preventDefault();
			var red = $('#red').val();
			var green = $('#green').val();
			var blue = $('#blue').val();
			var range = $('#range').val();
			$('#image').html("<img src='img/bedroom-2.jpg'>");
			$('#image img').attr('ckey-r', localStorage.red);
			$('#image img').attr('ckey-g', localStorage.green);
			$('#image img').attr('ckey-b', localStorage.blue);
			$('#image img').attr('data-rr', red);
			$('#image img').attr('data-rg', green);
			$('#image img').attr('data-rb', blue);
			
			$('#image img').attr('data-delta', '45');
			$('#image img').attr('alt', 'ckimage');
			$('#image img').attr('adv', 1);
			chroma_key.start();
		})
	</script>
</body>

</html>